TMall/code/天猫手动导入订单/tmall_importorder/Quanyi/Web References/Zwm_Rfc_Kykc_Stock/zwm_rfc_kykc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:n1="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="BN__ZWM_RFC_KYKC_soap12">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
      </wsp:All>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF__ZWM_RFC_KYKC">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
          <sapsession:enableSession>false</sapsession:enableSession>
        </sapsession:Session>
        <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
          <sapcentraladmin:BusinessApplicationID>005056BD42961ED7B59658951C935B48</sapcentraladmin:BusinessApplicationID>
        </sapcentraladmin:CentralAdministration>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP__ZwmRfcKykc">
    <wsp:ExactlyOne>
      <wsp:All>
        <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
        <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
        <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
        <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char18">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char220">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="220" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="date10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="\d\d\d\d-\d\d-\d\d" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="quantum13.3">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13" />
          <xsd:fractionDigits value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="unit3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
      <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" />
      <xsd:simpleType name="date10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="\d\d\d\d-\d\d-\d\d" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ZswmKc">
        <xsd:sequence>
          <xsd:element name="Werks" type="n0:char4" />
          <xsd:element name="Matnr" type="n0:char18" />
          <xsd:element name="Charg" type="n0:char10" />
          <xsd:element name="Vfdat" type="n0:date10" />
          <xsd:element name="Labst" type="n0:quantum13.3" />
          <xsd:element name="Meins" type="n0:unit3" />
          <xsd:element name="Hsdat" type="tns:date10" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZsmatnrCx">
        <xsd:sequence>
          <xsd:element name="Matnr" type="n0:char18" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfZswmKc">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZswmKc" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfZsmatnrCx">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZsmatnrCx" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ZwmRfcKykc">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="EKc" type="tns:TableOfZswmKc" />
            <xsd:element name="IMatnr" type="tns:TableOfZsmatnrCx" />
            <xsd:element name="IWerks" type="n0:char4" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZwmRfcKykcResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="EKc" type="tns:TableOfZswmKc" />
            <xsd:element name="ERetcode" type="n0:char1" />
            <xsd:element name="ERetmsg" type="n0:char220" />
            <xsd:element name="IMatnr" type="tns:TableOfZsmatnrCx" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZwmRfcKykc">
    <wsdl:part name="parameters" element="tns:ZwmRfcKykc" />
  </wsdl:message>
  <wsdl:message name="ZwmRfcKykcResponse">
    <wsdl:part name="parameter" element="tns:ZwmRfcKykcResponse" />
  </wsdl:message>
  <wsdl:portType name="ZWM_RFC_KYKC">
    <wsdl:documentation>
      <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
        <sapdoc:docitem docURL="http://ERPPRD01.MYQUANYI.COM:8000/sap/bc/esdt/docu/sd_text?sap-client=800&amp;sd_name=ZWM_RFC_KYKC" />
      </sapdoc:sapdoc>
    </wsdl:documentation>
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF__ZWM_RFC_KYKC" />
    </wsp:Policy>
    <wsdl:operation name="ZwmRfcKykc">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP__ZwmRfcKykc" />
      </wsp:Policy>
      <wsdl:input message="tns:ZwmRfcKykc" />
      <wsdl:output message="tns:ZwmRfcKykcResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZWM_RFC_KYKC_soap12" type="tns:ZWM_RFC_KYKC">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN__ZWM_RFC_KYKC_soap12" />
    </wsp:Policy>
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZwmRfcKykc">
      <wsoap12:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZWM_RFC_KYKC:ZwmRfcKykcRequest" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZWM_RFC_KYKC">
    <wsdl:port name="ZWM_RFC_KYKC_soap12" binding="tns:ZWM_RFC_KYKC_soap12">
      <wsoap12:address location="http://ERPPRD01.MYQUANYI.COM:8000/sap/bc/srt/rfc/sap/zwm_rfc_kykc/800/zwm_rfc_kykc/zwm_rfc_kykc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>